fastapi
uvicorn
pydantic
pymongo
python-multipart
pytesseract
opencv-python
pdfplumber
python-docx
pandas
openpyxl
faiss-cpu
streamlit
schedule
plyer
ollama
PyMuPDF # Added for advanced PDF OCR
passlib==1.7.4
bcrypt==4.0.1
python-jose
fuzzywuzzy
python-Levenshtein
